<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品详情</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {% if request.session.user_name %}
				<div class="login_info fl">
                    欢迎您：<em>{{ request.session.user_name }}</em>
                    <a href="/user/logout/">退出登陆</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/static/cart.html">我的购物车</a>
					<span>|</span>
					<a href="/user/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cart/cartinfo/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ request.session.goodstype_num_in_cart | default:0 }}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list-10-1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list-5-1/" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ goods_detail.goods_pic }}"></div>

		<div id="change_style_if_no_goods" class="goods_detail_list fr">
			<h3>{{g.gtitle}}</h3>
			<p>{{g.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="gprice">{{goods_detail.goods_price}}</em></span>
				<span class="show_unit">单位：{{goods_detail.goods_unit}}</span>
			</div>
			<div id="genghuan">
                <div class="goods_num clearfix">
                    <div class="num_name fl">数 量：</div>
                    <div class="num_add fl">
                        <input type="text" class="num_show fl" value="1" id="num_show">
                        <a href="javascript:;" class="add fr" id="add">+</a>
                        <a href="javascript:;" class="minus fr" id="minus">-</a>
                    </div>
                    <div>
                        <div class="num_name1 fl" style="padding-left: 20px;">库 存：</div>
                        <div class="num_name1 fl" id="goods_stock">{{ goods_detail.goods_stock  }}</div>
                    </div>
                </div>
                <div class="total">总价：<em id="total_price"></em></div>
                <div class="operate_btn">
                    {% if request.session.user_id %}
                    <a href="javascript:;" class="buy_btn" id="buy">立即购买</a>
                    {% else %}
                    <a href="/user/login/" class="buy_btn" id="buy">立即购买</a>
                    {% endif %}
                    {% if request.session.user_id %}
                    <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
                    {% else %}
                    <a href="/user/login/" class="add_cart" id="add_cart">加入购物车</a>
                    {% endif %}
                </div>
            </div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for items in new_goods_recommend %}
					<li>
						<a href="/goods/detail-{{ items.id }}/"><img src="{{ items.goods_pic }}" alt="图片"></a>
						<h4><a href="/goods/detail-{{ items.id }}/">{{ items.goods_name }}</a></h4>
						<div class="prize">￥{{ items.goods_price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods_detail.goods_detail }} </dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<div class="add_jump"></div>

	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script>

    // 计算总价格
    function calculateTotal(){
        /* 小计价格*/
        var single_price = {{ goods_detail.goods_price }};
        var count = $('#num_show').val();
        var total_price = parseFloat(single_price) * parseInt(count);
        console.log(total_price);
        $('#total_price').text(total_price.toFixed(2)+'元')
    }

    function stockNum() {
        goods_stock_num = $('#goods_stock').text();
        console.log(goods_stock_num);
        if (goods_stock_num === 0){
            $('#change_style_if_no_goods').replaceWith("<div style='height: 60px;width: 198px;color: red;font-size: 28px;margin-top: 30px;'>没有库存了</div>")
        }
    }

    // 增加购买数量
    $('#add').click(function () {
        var num_now = $('#num_show');
        if (num_now.val() < 10 ){
            num_now_upadate = parseInt(num_now.val()) + 1;
            num_now.val(parseInt(num_now_upadate));
            // 购买数量改变时 重新计算总价格
            calculateTotal();
        }
    });

    // 减少购买数量
    $('#minus').click(function () {
        var num_now = $('#num_show');
        if (num_now.val() >1 ){
            num_now_upadate = parseInt(num_now.val()) - 1;
            num_now.val(parseInt(num_now_upadate));
            // 购买数量改变时 重新计算总价格
            calculateTotal();
        }
    });
    // 判断库存
    stockNum();
    // 计算总价
    calculateTotal();

    // 加入购物车
    $('#add_cart').click(function () {
        var count_num = $('#num_show').val();
        $.ajax({
            url:'/cart/add_cart-{{ goods_detail.id }}-' + String(count_num) +'/',
            type:'POST',
            headers:{'X-CSRFToken':$.cookie('csrftoken')},
            success:function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.status){
                    $('#show_count').text(obj.content);
                    alert('商品添加成功');
                }else{
                    alert(obj.error)
                }
            }
        })
    })

    </script>
	
</body>
</html>